[submodule "orgST-C++/third-party/CryptoPP"]
	path = orgST-C++/third-party/CryptoPP
	url = https://github.com/weidai11/cryptopp
[submodule "orgST-C++/third-party/CPR"]
	path = orgST-C++/third-party/CPR
	url = https://github.com/libcpr/cpr
[submodule "orgST++/third-party/CryptoPP"]
	path = orgST++/third-party/CryptoPP
	url = https://github.com/weidai11/cryptopp
[submodule "orgST++/third-party/cpp-httplib"]
	path = orgST++/third-party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
