name: Maven CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GIT_TOKEN }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn package

      - name: Commit JAR and Sign
        run: |
          git config --global user.name "Wdboyes13"
          git config --global user.email "willdev2025@outlook.com"
          git remote set-url origin https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/${{ github.repository }}.git
          git status
          git add .

          if ! git diff --cached --quiet; then
            git commit -m "Auto-build jar"
            git push origin main
          else
            echo "No changes to commit :3"
          fi